**/.idea/
.vscode/
**/__pycache__
**/temp/
**/node_modules/
**/.DS_Store
/platform-backend-master/chaosmesh_app/injection
*.log
fault_state.json
multi_modal_data
log_state.json
metric_state.json
trace_state.json
temp.py